
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@400;700&family=Noto+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');
 </style>
 
 
 *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Courier New', Courier, monospace;
 }
      .main{
 
          width: 100vw;
         height: 100vh;
         background-color: #e2ce1a;
         display: flex;
         /*eixo x*/
         justify-content: center;
          /*eixo y*/
         align-items: center;
 
      }
 
   .left{
        
        width: 304px;
        height: 555px;
        background: #36320a;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px 0 0 20px;
        padding: 20px;
 
   }
 
   .left > h1{
      color: black;
      width: 25vw;
      height: 55vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     
   }
 
   .right{
    width: 640px;
    height: 555px;
    background: #fefaa1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
    padding: 20px;
   }
 

 
   .card > h1{
       color: black;
       font-weight: 800;
 
   }
 
 .testfield{
 
     
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     margin: 10px 0px;
 
 }
 
 .testfield > input{
 
 width: 100%;
 border: none;
 border-radius: 10px;
 padding: 15px;
 background:#ebe76c;
 color: #574e4e;
 font-size: 12pt;
 box-shadow: aquamarine;
 outline: none;
 border: 2px solid transparent;
 
 }
   
 .testfield > input::placeholder{
 
     color: #514069;
 }
 
 input:focus{
     color: #77ffc0;
 
 }
 
 .testfield > label{
 
     columns: #fff0f4;
     margin-top: 10px;
     margin-bottom: 10px;
 
 }
 
 .btn-login{
 
     width: 100%;
     padding: 16px 0px;
     margin: 25px;
     border: none;
     border: radius 8px;
     outline: none;
     text-transform: uppercase;
     font-weight: 800;
     letter-spacing:4px;
     color: black;
     background: ;
     cursor: pointer; 
     box-shadow: 0px 10px
     40px  12px #000005;
 
 }
 
 .btn-login:hover{
 
 transition: background 1s;
 background: #23b872;
 }